#cv-button {
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px; 
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase; 
    font-weight: bold; 
    letter-spacing: 0.5px; 
    transition: background-color 0.3s; 
}

#cv-button:hover {
    background-color: #0056b3; 
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
#pdf-canvas {
    border: 1px solid black; 
    display: block; 
    margin: 0 auto; 
  }

  .pdf-container {
    display: flex;
    justify-content: center;
  }
  
  .pdf-canvas {
    border: 1px solid black; 
    margin: 0 10px; 
  }
  
  