/* Footer Styles */
.footer {

  text-align: center;
  padding: 2px 0; 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-sizing: border-box; 
}

.footer-container {
  display: grid;
  place-items: center;
  box-sizing: border-box;
}

.foocontent-heading {
  font-size: 1rem; 
  line-height: 1;
  margin: 2px 0; 
  opacity: 0.8;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; 
}

.social a {
  text-decoration: none;
  font-size: 1rem; 
  color: #fff;
  transition: color 0.3s, transform 0.3s;
}

.social a:hover {
  color: #3498db;
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .social {
    order: 1;
    margin-bottom: 2px; 
  }

  .foocontent-heading {
    order: 2;
    font-size: 0.6rem; 
  }
}
