/* Style for the site header */
header {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -100px;
    opacity: 0;
    animation: dropDown 1s forwards 0.1s;
}

/* Keyframes for the drop-down effect */
@keyframes dropDown {
    to {
        top: 0;
        opacity: 1;
    }
}

/* Style for the profile section */
.profile-section {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

/* Style for social icons */
.social-icons {
    display: flex;
    align-items: center;
    animation: fadeIn 1.5s forwards;
}

.social-icons a {
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #3498db;
}
