/* Reset default margin and padding */
body, h1, ul, li {
    margin: 0;
    padding: 0;
}

/* Set background color and font for the body */
body {
    font-family: Arial, sans-serif;
}

/* Style for the navigation */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    animation: fadeIn 1.5s forwards;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

/* Style for the content heading */
.content-heading {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

#theme-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
    transition: color 0.3s;
    animation: fadeIn 1.5s forwards;
}

/* Style for the tab1-box */
.tab1-box {
    border-radius: 5px; 
    padding: 20px; 
    margin: 20px auto;
    max-width: 1000px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.tab1-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tab1-description {
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    padding: 0 20px;
    text-align: center;
}
@keyframes iconAnimation {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}
#sun-icon, #moon-icon {
    font-size: 24px;
    animation: iconAnimation 0.5s ease-in-out;
}

#sun-icon:hover, #moon-icon:hover {
    transform: scale(1.1);
}
#sun-icon {
    font-size: 24px; 
}
#moon-icon {
    font-size: 24px; 
}
.portfolio-text {
    transition: opacity 0.3s ease-in-out;
}
.portfolio-text:hover {
    opacity: 0.8;
}




/* Font Awesome import here */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Apply the fade-in animation to the portfolio-text */
.portfolio-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
    transition: color 0.3s;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
element::before, element::after {
    content: "";
}
  .content-heading {
    font-size: 36px;
    margin-bottom: 10px;
}
#cv-icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#cv-icon a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px; 
}

#cv-icon i {
    margin-right: 5px;
}

#map-icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#map-icon a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px; 
}

#map-icon i {
    margin-right: 5px;
}

#projects-icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#projects-icon a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px; 
}

#projects-icon i {
    margin-right: 5px;
}