/* Reset default margin and padding */
body, h1, ul, li {
    margin: 0;
    padding: 0;
}

/* Set background color and font for the body */
body {
    background-color: #e6f7ff;
    font-family: Arial, sans-serif;
}

/* Style for the navigation */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    animation: fadeIn 1.5s forwards;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #3498db;
}

/* Style for the content heading */
.content-heading {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: #2c3e50;
}

#theme-toggle {
    background: none;
    border: none;
    font-size: 24px;
    color: #ecf0f1;
    cursor: pointer;
    margin-right: 20px;
    transition: color 0.3s;
    animation: fadeIn 1.5s forwards;
}

#theme-toggle:hover {
    color: #3498db;
}

/* Style for the tab1-box */
.tab1-box {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px; 
    padding: 20px; 
    margin: 20px auto;
    max-width: 1000px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.tab1-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tab1-description {
    font-size: 16px;
    line-height: 1.6;
    color: #333; 
    font-family: 'Roboto', sans-serif;
    padding: 0 20px;
    text-align: center;
}



body.night-mode .tab1-box {
    background-color: #333;
    border: 1px solid #444;
    color: #eee; 
}

body.night-mode .tab1-description {
    color: #eee;
}


/* Font Awesome import here */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Apply the fade-in animation to the portfolio-text */
.portfolio-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
    transition: color 0.3s;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  element::before, element::after {
    content: "";
  }
    
