body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.glasses {
    width: 50px;
    height: 20px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    animation: expand 10s forwards; 
    z-index: 9999; 
    opacity: 0; 
    filter: blur(10px) grayscale(100%);
}

@keyframes expand {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0; 
        filter: blur(10px) grayscale(100%);
    }
    100% {
        transform: translate(-50%, -50%) scale(100);
        filter: blur(0) grayscale(0%); 
    }
    90% {
        opacity: 1; 
        filter: blur(0) grayscale(0%);
    }
    100% {
        opacity: 0; 
        filter: blur(0) grayscale(100%);
    }
}
