.glasses-container {
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translateX(-50%);
    width: 650px;
    height: 250px;
    border-radius: 10px;
    background-color: rgba(63, 63, 63, 0.5);
    overflow: hidden; 
}

.lens {
    position: absolute;
    width: 250px; 
    height: 250px; 
    border-radius: 50%;
    background: radial-gradient(circle, rgba(93, 93, 93, 0.5) 30%, transparent 50%);
}

.lens.left {
    left: 10px; 
    clip-path: circle(50% at 50% 50%);
}

.lens.right {
    right: 10px; 
    clip-path: circle(50% at 50% 50%);
}
